{% extends "shop/layout.html" %}

{% block header_right %}

    <form action="" method="get">
        <input type="text" name="q" value="{{ request.GET.q }}">
        <input type="submit" value="검색">
    </form>

{% endblock %}

{% block content %}

    <ul>
        {% for shop in object_list %}
            <li>
                <a href="{% url "shop:shop_detail" shop.pk %}">
                    {{ shop.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}

    <a href="{% url "shop:shop_new" %}" class="btn btn-primary">새로 생성</a>

{% endblock %}