{% extends "shop/layout.html" %}
{% load bootstrap5 %}

{% block footer %}

    <a href="{% url "shop:shop_list" %}" class="btn btn-primary">목록으로</a>

    {% if object.pk %}
        <a href="{% url "shop:shop_detail" object.pk %}" class="btn btn-primary">글로 돌아가기기</a
    {% endif %}

{% endblock %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit"/>
    </form>

{% endblock %}