{% extends "music/layout.html" %}

{% block content %}
    {% for tag in tag_list %}
        <p>
            <a href="{% url "music:tag_detail" tag.name %}" class="badge bg-success">{{ tag.name }}</a>
        </p>
    {% endfor %}
    <img src="{{ music.album_cover_file_thumb.url }}" alt="{{ music.title }}">

    {{ music.description|linebreaks }}

    <hr />

    <h5>댓글</h5>
    <ul>
    {% for comment in comment_list %}
        <li>{{ comment.created_at }}: {{ comment.content }}</li>
    {% endfor %}
    </ul>



{% endblock %}