{% extends "movies/layout.html" %}

{% block content %}

    <div class="row align-items-end">
        <div class="col-5">
            <h2>{{ movies.title }}</h2>
        </div>
        <div class="col">
           작성 시각 : {{ movies.created_at }}
        </div>
    </div>


    <hr/>
    <div class="row">
        <div class="col">
            <img src="{{ movies.poster_file_thumb.url }}" alt="{{ movies.title }}">
        </div>
        <div class="col-8">
            {{ movies.comments|linebreaks }}
        </div>
    </div>
    <hr/>



{% endblock %}



