@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.page-profile {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ebfaff;
  text-align: center;
}
.page-profile button {
  padding: 5px;
  margin: 10px;
}

.page-profile input {
  margin-top: 10px;
  width: 40%;
}
